<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="location" value="%USERPROFILE%\Pictures"/>
    <add key="location_type" value="0"/>
    <add key="filetype" value="jpg"/>
    <add key="filename_format" value="{sequence}"/>
  </appSettings>
</configuration>